*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

body {
  color: #EFEFF1;
  background: #2D2D2E;
  font-size: 13px;
  font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6, p, ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  line-height: 19px;
  text-rendering: optimizelegibility;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #333333;
}

h1 {
  font-size: 30px;
  font-size: 2.30769em;
  line-height: 1.54839em;
}

h2 {
  font-size: 24px;
  font-size: 1.84615em;
  line-height: 1.536em;
}

h3 {
  font-size: 18px;
  font-size: 1.38462em;
  line-height: 1.51579em;
}

h4 {
  font-size: 16px;
  font-size: 1.23077em;
  line-height: 1.50588em;
}

p {
  font-size: 13px;
  font-size: 1em;
  line-height: 1.48571em;
  margin-bottom: 10.55556px;
}

a {
  color: #0074d9;
  text-decoration: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

header#top {
  float: left;
  display: inline;
  width: 100%;
  background: #232324;
  padding: 10px 5px;
  position: fixed;
  z-index: 999;
}

#content {
  margin-top: 60px;
  position: relative;
}

#filters {
  display: inline;
  float: left;
  width: 24.07407%;
  margin: 0 0.46296%;
  position: fixed;
  background: #232324;
  height: 100%;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#candidates {
  display: inline;
  float: left;
  width: 74.07407%;
  margin: 0 0.46296%;
  margin-left: 25.46296%;
}
#candidates ul.candidates li {
  float: left;
  display: inline-block;
  width: 33%;
  background: #232324;
  -webkit-box-shadow: 0, 0, 0, 0.5;
  box-shadow: 0, 0, 0, 0.5;
  cursor: pointer;
}
#candidates ul.candidates li .image {
  float: left;
  display: inline;
  width: 100%;
  position: relative;
}
#candidates ul.candidates li .image img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}
#candidates ul.candidates li .image img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#candidates ul.candidates li .image .name {
  position: absolute;
  width: 100%;
  display: block;
  background: #191919;
  bottom: 0px;
  padding: 10px 5px;
}
#candidates ul.candidates li .info {
  display: inline;
  float: left;
  width: 99.07407%;
  margin: 0 0.46296%;
}
#candidates ul.candidates li .info ul.views li {
  float: left;
  display: inline;
  width: 100%;
  margin: 0;
}
#candidates ul.candidates li .info ul.views li:nth-child(odd) {
  background: #1e1e1f;
}
#candidates ul.candidates li .info ul.views li:nth-child(even) {
  background: #232324;
}
#candidates ul.candidates li .info ul.views li dl.item dd {
  float: left;
  display: inline;
  width: 100%;
  font-size: 0.9em;
  line-height: 1.7em;
}
#candidates ul.candidates li .info ul.views li dl.item dd:first-child {
  width: 30%;
  color: #929295;
  background: inherit;
}
#candidates ul.candidates li .info ul.views li dl.item dd:last-child {
  width: 70%;
  background: inherit;
}
