*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-border-box: box-sizing;
	-webkit-border-box: box-sizing;
}

@import '_mixins';
@import '_colours'; // Better Colours
@import '_grid.scss'; // Better Colours

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;

/* ---------------------------
Fonts are located in dist/css/fonts bro
------------------------------ */
@include importfont('Montserrat Regular', 'fonts/Montserrat-Regular', 400);
@include importfont('Quicksand Bold', 'fonts/Quicksand-Bold', 700);

// **********************
// Set Variables Here
//***********************
$basefontsize: 12px;
$baselineheight: 1.5;
$cap-height: 		0.68;
$basefontcolour: #333;
$basefontfamily: "Montserrat Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$headingsfontfamily: "Quicksand Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$linkcolour: #0074D9;

body {
	color: #333;
  font-weight: 300;
	font-size: $basefontsize;
	font-family: $basefontfamily;
	height: 100%;
}

// Headings
// -------------------------
h1, h2, h3, h4, h5, h6, p, ul {
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
  font-weight: 100;
	font-family: $headingsfontfamily;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
	a {
		color: $basefontcolour;
	}
}

h1 {
	@include fontbase(28px);
}

h2 {
	@include fontbase(24px);
}

h3 {
	@include fontbase(21px);
}

h4 {
	@include fontbase(18px);
}

h5 {
	@include fontbase(16px);
}

// General Typography
// -------------------------
p {
	@include fontbase(12px);
}

a {
	color: $linkcolour;
	text-decoration: none;
}

// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
	margin: 0;
	padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

// **********************
// All Styles Go Below Here Bud
//***********************


aside.filters {
	display: block;
	float: left;
	width: 25%;
	position: fixed;
	height: 100%;
	background: #03182b;
	.title {
		display: inline-block;
		padding: 25px 0;
		width: 100%;
		background: #cf3638;
		color: #fff;
		text-align: center;
	}
	#filters {
		width: 100%;
		color: #cccfd4;
		text-align: center;
		padding: 10px;
		.svg-toronto svg{
			fill: #172a3b;
			width: 138px;
			height: 158px;
		}
	}
	#contextcontent {
		background: #0a1f32;
		padding: 20px 0;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		border-bottom: 1px solid #2f4050;
	}
	#filterlist {
		height: 420px;
		overflow: scroll;
		width: 100%;
		padding: 15px 20px;
		border-bottom: 1px solid #2f4050;
	}
	#details {
		padding: 10px;
		text-align: center;
		color: #34495e;
	}
}



section#candidates{
	position: relative;
	left: 25%;
	float: left;
	width:75%;
	header.topinfo {
		display: inline-block;
		padding: 26px 0;
		width: 75%;
		background: #03182b;
		color: #fff;
		text-align: center;
		position:fixed;
		z-index:999;
	}
	.candidates {
		margin-top: 108px;
		.tile {
			@include column(12);
			margin-bottom: 50px;
			padding-bottom: 50px;
			border-bottom: 1px solid #dcdcdc;
			.info {
				@include column(4);
				.display {
					display: block;
					width: 300px;
					height: 300px;
					position: relative;
					h2.candidate-name {
						background: rgba( #34495e, 0.7);
						color: #fff;
						padding: 5px 10px;
						position: absolute;
						bottom: 0;
					}
				}
				.link a {
					display: inline-block;
					margin-top: 10px;
					background: #cf3638;
					color: #fff;
					padding: 10px;
				}

			}
			.campaign {
				@include column(8);
			}
		}
	}
}

ul.views li {
	float: left;
	padding: 10px 5px;
	width: 100%;
	&:nth-child(odd) {
		background: #dbdbdb;
	}
	dl.item {
		@include fontbase(12px);
		width: 100%;
		dd {
			float: left;
			&:first-child {
				width: 30%;
			}
			&:last-child {
				width: 70%;
			}
		}
	}
}


.svg-checkmark {
	svg {
	  width: 25px;
	  height: 25px;
	  fill: #2ecc71;
	}
}

.view {
	padding: 15px 0;
	width: 100%;
	color: #fff;
	border-bottom: 1px solid rgba(#2f4050, 0.5);
	/* Base for label styling */
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
	  position: absolute;
	  left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
	  position: relative;
	  padding: 10px 10px 10px 50px;
	  cursor: pointer;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
	  position: absolute; top: 5px;
	  left:5px;
	  width: 25px; height: 25px;
	  border: 1px solid #aaa;
	  border-radius: 3px;
	  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
	  content: '';
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
	  position: absolute; top: 7px;
	  left:9px;
	  clear: both;
	  color: #09ad7e;
	  content: '✔';
	  font-size: 21px;
	  transition: all .2s;
	}

	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
	  opacity: 0;
	  transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
	  opacity: 1;
	  transform: scale(1);
	}
}





