doctype html
html(lang='en', ng-app='candidateApp')
	head
		include includes/header
	body(ng-controller='candidateCtrl')

		header#top
			h3 Toronto Mayoral Candidate Helper

		#content
			#filters
				h2 What's important to you?
				input(type="text", ng-model="search")

			#candidates
				.candidates
					.tile(ng-repeat='candidate in candidates | filter:search')
							img(src="{{candidate.image}}")
							.name
								h3 {{candidate.firstName}} {{candidate.lastName}}
							.info
								h4 Birthdate:
								p {{candidate.birthDate}}
								h4 Political Affiliation:
								p {{candidate.politicalAffiliation}}
								h4 Profession:
								p {{candidate.profession}}
								a(href="{{candidate.website}}") {{candidate.website}}
								h2 Political Views
								ul.views
									li(ng-repeat='item in candidate.views')
										dl.item
											dd
												{{item.name}}
											dd
												{{item.policy}}
											dd(ng-show='item.support')
												span.svg-checkmark


