doctype html
html(lang='en', ng-app='candidateApp')
	head
		include includes/header
	body(ng-controller='candidateCtrl')

		header#top
			h3 Toronto Mayoral Candidate Helper

		#content
			include includes/filters
			h2 {{filtered.length}} Candidates share your views

			#candidates
				.candidates
					.tile(ng-repeat='candidate in filtered = (candidates | filter:search)')
							img(src="{{candidate.image}}")
							.name
								h3 {{candidate.firstName}} {{candidate.lastName}}
							.info
								h4 Birthdate:
									{{candidate.birthDate}}
								h4 Political Affiliation:
									{{candidate.politicalAffiliation}}
								h4 Profession:
									{{candidate.profession}}
								a(href="{{candidate.website}}") {{candidate.website}}
								h2 Political Views
								include includes/views

