.view
	input(type="checkbox", id="events", ng-model="search.events", ng-true-value="true", ng-false-value="")
	label(for="events") Events
.view
	input(type="checkbox", id="ballots", ng-model="search.rankedBallots", ng-true-value="true", ng-false-value="")
	label(for="ballots") Ranked Ballots
.view
	input(type="checkbox", id="transit", ng-model="search.transitExpansion", ng-true-value="true", ng-false-value="")
	label(for="transit") Transit Expansion
.view
	input(type="checkbox", id="garbage", ng-model="search.garbageCollection", ng-true-value="true", ng-false-value="")
	label(for="garbage") Garbage Collection
.view
	input(type="checkbox", id="privatization", ng-model="search.privatization", ng-true-value="true", ng-false-value="")
	label(for="privatization") Privatization
.view
	input(type="checkbox", id="landTransferTax", ng-model="search.landTransferTax", ng-true-value="true", ng-false-value="")
	label(for="landTransferTax") Land Transfer Tax
.view
	input(type="checkbox", id="gardinerExpressway", ng-model="search.gardinerExpressway", ng-true-value="true", ng-false-value="")
	label(for="gardinerExpressway") Gardiner Expressway
.view
	input(type="checkbox", id="officials", ng-model="search.officials", ng-true-value="true", ng-false-value="")
	label(for="officials") Officials
.view
	input(type="checkbox", id="transparency", ng-model="search.transparency", ng-true-value="true", ng-false-value="")
	label(for="transparency") Transparency
.view
	input(type="checkbox", id="children", ng-model="search.children", ng-true-value="true", ng-false-value="")
	label(for="children") Children
.view
	input(type="checkbox", id="scarborough", ng-model="search.scarborough", ng-true-value="true", ng-false-value="")
	label(for="scarborough") Scarborough
.view
	input(type="checkbox", id="pride", ng-model="search.pride", ng-true-value="true", ng-false-value="")
	label(for="pride") Pride
.view
	input(type="checkbox", id="islandAirport", ng-model="search.islandAirport", ng-true-value="true", ng-false-value="")
	label(for="islandAirport") Island Airport Expansion
.view
	input(type="checkbox", id="propertyTax", ng-model="search.propertyTax", ng-true-value="true", ng-false-value="")
	label(for="propertyTax") Property Tax
.view
	input(type="checkbox", id="redTape", ng-model="search.redTape", ng-true-value="true", ng-false-value="")
	label(for="redTape") Red Tape