#filters
	h2 What's important to you?
	label Events
		input(type="checkbox", ng-model="search.events", ng-true-value="true", ng-false-value="")
	label Ranked Ballots
		input(type="checkbox", ng-model="search.rankedBallots", ng-true-value="true", ng-false-value="")
	label Transit Expansion
		input(type="checkbox", ng-model="search.transitExpansion", ng-true-value="true", ng-false-value="")
	label Garbage Collection
		input(type="checkbox", ng-model="search.garbageCollection", ng-true-value="true", ng-false-value="")
	label Privatization
		input(type="checkbox", ng-model="search.privatization", ng-true-value="true", ng-false-value="")
	label Land Transfer Tax
		input(type="checkbox", ng-model="search.landTransferTax", ng-true-value="true", ng-false-value="")
	label Gardiner Expressway
		input(type="checkbox", ng-model="search.gardinerExpressway", ng-true-value="true", ng-false-value="")
	label Officials
		input(type="checkbox", ng-model="search.officials", ng-true-value="true", ng-false-value="")
	label Transparency
		input(type="checkbox", ng-model="search.transparency", ng-true-value="true", ng-false-value="")
	label Children
		input(type="checkbox", ng-model="search.children", ng-true-value="true", ng-false-value="")
	label Scarborough
		input(type="checkbox", ng-model="search.scarborough", ng-true-value="true", ng-false-value="")
	label Pride
		input(type="checkbox", ng-model="search.pride", ng-true-value="true", ng-false-value="")
	label Island Airport Expansion
		input(type="checkbox", ng-model="search.islandAirport", ng-true-value="true", ng-false-value="")
	label Property Tax
		input(type="checkbox", ng-model="search.propertyTax", ng-true-value="true", ng-false-value="")
	label Red Tape
		input(type="checkbox", ng-model="search.redTape", ng-true-value="true", ng-false-value="")