meta(charset='UTF-8')
title drewminns
link(rel='stylesheet', href='css/reset.css', type='text/css')
link(rel='stylesheet', href='css/main.css', type='text/css')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js')
script(src='scripts/masonry.js')
script(src='scripts/angular-masonry-directive.js')
script(src='scripts/main.min.js')