meta(charset='UTF-8')
title Toronto Mayoral
link(rel='stylesheet', href='css/reset.css', type='text/css')
link(rel='stylesheet', href='css/main.css', type='text/css')
link(rel='stylesheet', href='css/loadingbar.css', type='text/css')
script(src='scripts/vendor/angular/angular.min.js')
// script(src='scripts/vendor/jquery/jquery.min.js')
script(src='scripts/vendor/angular-route/angular-route.min.js')
script(src='scripts/vendor/angular-loading-bar/loading-bar.js')
script(src='scripts/vendor/angular-animate/angular-animate.min.js')
script(src='scripts/vendor/gsap/tweenmax.min.js')
script(src='scripts/vendor/ng-fx/ng-fx.min.js')
script(src='scripts/main.min.js')
script(src='scripts/svginject.js')