ul.views
	li
		dl.item
			dd {{candidate.events.name}}
			dd {{candidate.events.policy}}
			dd(ng-show='candidate.events.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.rankedBallots.name}}
			dd {{candidate.rankedBallots.policy}}
			dd(ng-show='candidate.rankedBallots.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.transitExpansion.name}}
			dd {{candidate.transitExpansion.policy}}
			dd(ng-show='candidate.transitExpansion.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.garbageCollection.name}}
			dd {{candidate.garbageCollection.policy}}
			dd(ng-show='candidate.garbageCollection.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.privatization.name}}
			dd {{candidate.privatization.policy}}
			dd(ng-show='candidate.privatization.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.landTransferTax.name}}
			dd {{candidate.landTransferTax.policy}}
			dd(ng-show='candidate.landTransferTax.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.gardinerExpressway.name}}
			dd {{candidate.gardinerExpressway.policy}}
			dd(ng-show='candidate.gardinerExpressway.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.officials.name}}
			dd {{candidate.officials.policy}}
			dd(ng-show='candidate.officials.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.transparency.name}}
			dd {{candidate.transparency.policy}}
			dd(ng-show='candidate.transparency.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.children.name}}
			dd {{candidate.children.policy}}
			dd(ng-show='candidate.children.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.scarborough.name}}
			dd {{candidate.scarborough.policy}}
			dd(ng-show='candidate.scarborough.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.pride.name}}
			dd {{candidate.pride.policy}}
			dd(ng-show='candidate.pride.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.islandAirport.name}}
			dd {{candidate.islandAirport.policy}}
			dd(ng-show='candidate.islandAirport.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.propertyTax.name}}
			dd {{candidate.propertyTax.policy}}
			dd(ng-show='candidate.propertyTax.support')
				span.svg-checkmark
	li
		dl.item
			dd {{candidate.redTape.name}}
			dd {{candidate.redTape.policy}}
			dd(ng-show='candidate.redTape.support')
				span.svg-checkmark