*,
*:before,
*:after {
	box-sizing: border-box;

}

@import '_mixins';
@import '_colours'; // Better Colours
@import 'grid';

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 80;
$gutter-width: 10;

// Remove the definition below for a pixel-based layout
$total-width: 100%;

// **********************
// Set Variables Here
//***********************
$basefontsize: 13px;
$baselineheight: 19px;
$basefontcolour: #333;
$basefontfamily: 'Lato', "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$headingsfontfamily: 'Lato', "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$linkcolour: #0074D9;

body {
	color: #EFEFF1;
	background: #2D2D2E;
	font-size: $basefontsize;
	font-family: $basefontfamily;
	font-weight: 300;
	letter-spacing: 0.03em;
}

@mixin fullwidth() {
	float: left;
	display: inline;
	width: 100%;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6, p, ul {
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingsfontfamily;
	line-height: $baselineheight;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
	font-weight: 100;
	margin: 0;
	padding: 0;
	a {
		color: $basefontcolour;
	}
}

h1 {
	@include font-size(30px);
}

h2 {
	@include font-size(24px);
}

h3 {
	@include font-size(18px);
}

h4 {
	@include font-size(16px);
}

// General Typography
// -------------------------
p {
	@include font-size($basefontsize);
	margin-bottom: $baselineheight/1.8;
}

a {
	color: $linkcolour;
	text-decoration: none;
}

// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
	padding: 0;
	margin: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}


// **********************
// All Styles Go Below Here Bud
//***********************

header#top {
	@include fullwidth();
	background: darken(#2D2D2E, 4%);
	padding: 10px 5px;
	position: fixed;
	z-index:999;
}

#content {
	margin-top: 60px;
	position: relative;
}

#filters {
	@include column(3);
	position: fixed;
	background: darken(#2D2D2E, 4%);
	height: 100%;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
}

#candidates {
	@include column(9);
	@include push(3);
	ul.candidates li {
		float: left;
		display: inline-block;
		width: 33%;
		background: darken(#2D2D2E, 4%);
		box-shadow: (0,0,0,0.5);
		cursor: pointer;
		.image {
			@include fullwidth();
			position: relative;
			img {
				width: 100%;
				filter: grayscale(100%);
				transition : all 500ms linear;
				&:hover {
					filter: grayscale(0);
				}
			}
			.name {
				position: absolute;
				width: 100%;
				display: block;
				background: darken(#2D2D2E, 8%);
				bottom: 0px;
				padding: 10px 5px;

			}
		}
		.info {
			@include column(12);
			ul.views li {
				@include fullwidth();
				margin: 0;
				&:nth-child(odd) {
					background: darken(#2D2D2E, 6%);
				}
				&:nth-child(even) {
					background: darken(#2D2D2E, 4%);
				}
				dl.item dd {
					@include fullwidth();
					font-size: 0.9em;
					line-height: 1.7em;
					&:first-child {
						width: 30%;
						color: lighten(#2D2D2E, 40%);
						background: inherit;
					}
					&:last-child {
						width: 70%;
						background: inherit;
					}
				}
			}
		}
	}
}










